@{
  Layout = "_Layout";
}

<h1>Album Details: </h1>

<h2>@Model["album"].Title</h2>

<h3>Artist: @Model["artist"].Name</h3>

<a href='/artists/@Model["artist"].Id/albums/new'>Add new album</a>
<a href='/artists'>View all artists</a>
