@{
  Layout = "_Layout";
}

@using MusicOrganizer.Models;
<h1>@Model["artist"].Name</h1>
<h3> Catalog Albums </h3>

<ol>
@foreach (Album album in @Model["albums"])
{
  <li><a href='/artists/@Model["artist"].Id/albums/@album.Id'>@album.Title</a></li>
}
</ol>



<a href='/artists/@Model["artist"].Id/albums/new'>Add new album</a>
<a href='/artists'>View all artists</a>