@{
  Layout = "_Layout";
}


<h1>@Model["artist"].Name</h1>
<h2>@Model["album"].Title</h2>

<a href='/artists/@Model["artist"].Id/albums/new'>Add another album</a>
<a href='/artists'>View all artists</a>